services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: docker-react-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped

  test:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: docker-react-test
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=test
    command: pnpm test --watchAll
    restart: unless-stopped
